@import "variables";
@import "mixins";


.excel__toolbar {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: $toolbar-height;
  border-bottom: 1px solid $border-color;
  padding-left: 30px;


  .button {
    @include button()
  }
}